<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kimks.mapper.ChartMapper">
<select id="yearSales" resultType="com.kimks.domain.StatChartVO">
<![CDATA[
SELECT SUBSTR(b.dt, 1,4) year, NVL(SUM(A.TOTAL),0) total
FROM
(SELECT TO_CHAR(ODR_DATE, 'YYYY-MM-DD') ODR_DATE, SUM(ODR_TOTAL_PRICE) TOTAL
FROM ORDER_TBL
GROUP BY ODR_DATE
) A RIGHT OUTER JOIN 
(SELECT 
    TO_CHAR((SELECT TO_DATE(CONCAT(TO_CHAR(ODR_DATE, 'YYYY'),'-01-01'),'YYYY-MM-DD') Y
    FROM
    (SELECT RANK() OVER (ORDER BY ODR_DATE) LV, ODR_DATE FROM ORDER_TBL) A
    WHERE A.LV = 1
    ) + LEVEL - 1, 'YYYY-MM-DD') AS DT
FROM DUAL
CONNECT BY LEVEL <= (TO_DATE(CONCAT(TO_CHAR(SYSDATE, 'YYYY'), '-12-31'), 'YYYY-MM-DD') - (SELECT TO_DATE(CONCAT(TO_CHAR(ODR_DATE, 'YYYY'),'-01-01'),'YYYY-MM-DD') Y
FROM
    (SELECT RANK() OVER (ORDER BY ODR_DATE) LV, ODR_DATE FROM ORDER_TBL) F
WHERE F.LV = 1) + 1) 
) B ON A.ODR_DATE = B.DT
GROUP BY SUBSTR(b.dt, 1,4)
ORDER BY SUBSTR(b.dt, 1,4)
]]>
</select>

<select id="monthSales" resultType="com.kimks.domain.StatChartVO">
<![CDATA[
SELECT SUBSTR(b.dt, 1,7) year, NVL(SUM(A.TOTAL),0) total
FROM (
SELECT TO_CHAR(ODR_DATE, 'YYYY-MM-DD') ODR_DATE, SUM(ODR_TOTAL_PRICE) TOTAL
FROM ORDER_TBL
WHERE ODR_DATE BETWEEN TO_DATE(CONCAT(TO_CHAR(SYSDATE,'YYYY'), '-01-01'), 'YYYY-MM-DD') AND TO_DATE(CONCAT(TO_CHAR(SYSDATE, 'YYYY'), '-12-31'), 'YYYY-MM-DD')
GROUP BY ODR_DATE
) A RIGHT OUTER JOIN (
SELECT TO_CHAR(TO_DATE(CONCAT(TO_CHAR(SYSDATE,'YYYY'), '-01-01'), 'YYYY-MM-DD') + LEVEL - 1, 'YYYY-MM-DD') AS DT
FROM DUAL
CONNECT BY LEVEL <= (TO_DATE(CONCAT(TO_CHAR(SYSDATE, 'YYYY'), '-12-31'), 'YYYY-MM-DD') - TO_DATE(CONCAT(TO_CHAR(SYSDATE,'YYYY'), '-01-01'), 'YYYY-MM-DD') + 1) 
) B ON A.ODR_DATE = B.DT
GROUP BY SUBSTR(b.dt, 1,7)
ORDER BY SUBSTR(b.dt, 1,7)
]]>
</select>

<select id="weekSales" resultType="com.kimks.domain.StatChartVO">
<![CDATA[
SELECT B.DT AS YEAR, NVL(SUM(A.TOTAL), 0) AS TOTAL
FROM
(SELECT TO_CHAR(ODR_DATE, 'YYYY-MM-DD') AS ODR_DATE, SUM(ODR_TOTAL_PRICE) AS TOTAL 
FROM ORDER_TBL
GROUP BY ODR_DATE ) A
RIGHT OUTER JOIN 
(SELECT TO_CHAR(TRUNC(SYSDATE, 'IW') + LEVEL - 1, 'YYYY-MM-DD') AS DT 
FROM DUAL
CONNECT BY LEVEL <= 7 ) B
ON A.ODR_DATE = B.DT
GROUP BY B.DT
ORDER BY B.DT
]]>
</select>

<select id="monthSalesSearch" resultType="com.kimks.domain.StatChartVO">
<![CDATA[
SELECT SUBSTR(b.dt, 1,7) year, NVL(SUM(A.TOTAL),0) total
FROM (
SELECT TO_CHAR(ODR_DATE, 'YYYY-MM-DD') ODR_DATE, SUM(ODR_TOTAL_PRICE) TOTAL
FROM ORDER_TBL
WHERE ODR_DATE BETWEEN TO_DATE(CONCAT(#{year}, '-01-01'), 'YYYY-MM-DD') AND TO_DATE(CONCAT(#{year}, '-12-31'), 'YYYY-MM-DD')
GROUP BY ODR_DATE
) A RIGHT OUTER JOIN (
SELECT TO_CHAR(TO_DATE(CONCAT(#{year}, '-01-01'), 'YYYY-MM-DD') + LEVEL - 1, 'YYYY-MM-DD') AS DT
FROM DUAL
CONNECT BY LEVEL <= (TO_DATE(CONCAT(#{year}, '-12-31'), 'YYYY-MM-DD') - TO_DATE(CONCAT(#{year}, '-01-01'), 'YYYY-MM-DD') + 1) 
) B ON A.ODR_DATE = B.DT
GROUP BY SUBSTR(b.dt, 1,7)
ORDER BY SUBSTR(b.dt, 1,7)
]]>
</select>

<select id="weekSalesSearch" resultType="com.kimks.domain.StatChartVO">
<![CDATA[
SELECT B.DT year, NVL(SUM(A.TOTAL),0) total
FROM (
SELECT TO_CHAR(ODR_DATE, 'YYYY-MM-DD') ODR_DATE, SUM(ODR_TOTAL_PRICE) TOTAL
FROM ORDER_TBL
GROUP BY ODR_DATE
) A RIGHT OUTER JOIN (
SELECT TO_CHAR(TRUNC(TO_DATE(#{searchDate},'YYYY-MM-DD'), 'IW') + LEVEL - 1, 'YYYY-MM-DD') DT
FROM DUAL CONNECT BY LEVEL <= 7
) B ON A.ODR_DATE = B.DT
GROUP BY B.DT
ORDER BY B.DT
]]>
</select>
</mapper>